---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import ArticleList from "../../react-components/ArticleList";

const apiURL = import.meta.env.REACT_STRAPI_URL || import.meta.env.STRAPI_URL;
---

<Layout title="Articles" description="Tous nos articles et publications">
  <Hero
    title="Articles"
    subtitle="Retrouvez toutes nos publications et actualités."
    compact
  />

  <section class="bg-surface min-h-[50vh]">
    <ArticleList client:visible apiURL={apiURL} />
  </section>
</Layout>
