---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page non trouvée">
  <div class="px-5 md:px-[48px] pt-[221px] pb-24 bg-gray-light text-primary text-center">
    <h1 class="pb-6 font-semibold text-[64px] leading-[5.5rem]">404</h1>
    <p class="pb-6 font-semibold text-lg">La page que vous recherchez semble introuvable.</p>
    <p class="mb-4">Voici quelques liens utiles :</p>
    <ul class="underline space-y-2">
      <li><a href="/">Page d'accueil</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</Layout>
